<?xml version="1.0" encoding="utf-8" ?>
<configuration>

		Application("SALESACCOUNT") = "10000"
        Application("DEBTORSCONTROLACCOUNT") = "70100"
        Application("SALESTAXCONTROLACCOUNT") = "71100"
        Application("MATERIALSPURCHASEDACCOUNT") = "20000"
        Application("CREDITORSCONTROLACCOUNT") = "71000"
        Application("VATINPUTACCOUNT") = "71101"
        Application("DEFAULTBANK") = "70200"
        Application("MISPOSTING") = "49999"
        Application("SALESDISCOUNT") = "10100"
        Application("PURCHASEDISCOUNT") = "20010"

</configuration>
